body{
    font-family: 'Roboto', sans-serif;
}
.main-div{
    display: flex;
    padding-top: 90px;
    justify-content: center;
    align-items: center;
}
form{
    background-color: white;
    width: 280px;
    height: 330px;
    border-radius: 1rem;
    padding: 3rem 2rem;
    text-shadow: 1px 0px 3px #808080;
    box-shadow: 1px 2px 10px 0.2px #4c4c4c;
}
.title{
    text-align: center;
    font-weight: 400;
    user-select: none;
}
.input-group{
    display: flex;
    margin: 35px 0px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s;
}
label{
    position: absolute;
    left: 0px;
    bottom: 5px;
    pointer-events: none;
}
#username, #password{
    border: none;
    border-bottom: 2px solid dodgerblue;
    outline: none;
    height: 25px;
    font-size: 16px;
    
}

input:focus + label, input:valid + label{
    transition: ease 0.2s;
    transform: translate(-2px,-15px);
    color: dodgerblue;
    font-size: 14px;
} 
.s-botton{
    border: none;
    height: 30px;
    font-size: 16px;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    width: 100%;
    font-weight: 600;
    color: white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;

}
.sign-up{
    padding: 10px 0px;
}.main-div{
    flex-direction: column;
}

/*element.style {
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background: wheat;
}*/