div{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
a{
	cursor: pointer;
	text-decoration: none;
	font-size: 30px;
	background: #1da3c0;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}